{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".js"
  ],
  "include": [
    "build/**"
  ],
  "exclude": [
    "app/**",
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "build/**/*.test.js"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
